html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  } 
  
body, 
p, 
ul, 
li
  {
    margin: 0;
    padding: 0;
  }  

.title {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    font-weight: 400;
}

.label {
    display: block;
    margin: 100px auto 10px auto;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 400;
}

.input {
    font-size: 30px;
    font-weight: lighter;
    margin: 0 auto;
    display: block;
    margin-bottom: 80px;
}

.wrapper {
    text-align: center; /* all the children are inline block and will center just as if they were text */
}

#player {
    display: inline-block;
    vertical-align: top;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    padding: 20px;
}

.player {
    border: 1px solid black;
    border-radius: 4px;
    padding: 20px 30px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: lighter;
    text-transform: uppercase;
}

.player.red.active {
    background: red;
    color: white;
}

.player.blue.active {
    background: blue;
    color: white;
}

.player.green.active {
    background: green;
    color: white;
}

.player.yellow.active {
    background: yellow;
    color: white;
}


#board {
    background-color: lightgrey;
    border-radius: 4px;
    width: 610px;
    margin: 0 auto 50px auto;
    display: inline-block;
    padding: 30px;
}

.column {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 5px;
    padding: 4px;
}

.field {
    border: 2px solid black;
    background-color: white;
    border-radius: 20px;
}

.field.red {
    border: 4px solid red;
}

.field.yellow {
    border: 4px solid yellow;
}

.field.green {
    border: 4px solid green;
}

.field.blue {
    border: 4px solid blue;
}

.buttons {
    text-align: center;
    width: 550px;
    margin: 0 auto 100px auto;
}

button {
    display: block;
    margin: 10px auto;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: lighter;
    color: #2a3031;
    border-radius: 4px;
    border-color: grey;
}

.dice-box {
    display: inline-block;
    padding: 20px;
    width: 100px;
    vertical-align: top;
}

.dice {
    width: 100%;
}

.cone.red {
    height: 100%;
    border-radius: 50%;
    background-color: red;
}

.cone.blue {
    height: 100%;
    border-radius: 50%;
    background-color: blue;
}

.cone.green {
    height: 100%;
    border-radius: 50%;
    background-color: green;
}

.cone.yellow {
    height: 100%;
    border-radius: 50%;
    background-color: yellow;
}


@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(10,10,10, 1);
    }
    100% {
        box-shadow: 0 0 0 5px rgba(200,200,200, 0);
    }
}
.cone.enabled {
    animation: pulse 1s infinite;
}
